.thumbnail-row{
  margin-bottom: 8px;
  position: relative;
}

.thumbnail{
  width: 100%;
}

.video-infos-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.profile-pic{
  width: 40px;;
  border-radius: 50%;
}

.title{
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  margin-bottom: 10px;
}

.author, .stats{
  font-size: 12px;
  color: rgb(96, 96, 96);
  margin-bottom: 4px;
}

.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 35px;
}

@media (max-width: 600px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 601px) and (max-width: 999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.video-time{
  position: absolute;
  background-color: black;
  color: white;
  font-family: roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  font-size: bold;
  padding: 4px 4px 4px 4px;
  right: 5px;
  bottom: 8px;
  border-radius: 2px;
}